<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/style.css">
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  <title>My Website</title>
</head>

<body>
  <!-- Header -->
  <section id="header">
    <div class="header container">
      <div class="nav-bar">
        <div class="brand">
          <a href="#hero">
            <h1><span>P</span>redictive <span>A</span>nalysis</h1>
          </a>
        </div>
        <div class="nav-list">
          <div class="hamburger">
            <div class="bar"></div>
          </div>
          <ul>
            <li><a href="#hero" data-after="Home">Home</a></li>
            <li><a href="#services" data-after="Service">Services</a></li>
            
            <li><a href="#about" data-after="About">About</a></li>
            <li><a href="#contact" data-after="Contact">Contact</a></li>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            <li><a href="{{ url_for('logout')}}" data-after="Contact">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- End Header -->


  <!-- Hero Section  -->
  <section id="hero">
    <div class="hero container">
      <div>
        <h1>Sell Your Car At An Accurate , <span></span></h1>
        <h1>Most Reliable <span></span></h1>
        <h1>Price <span></span></h1>
        <a href="#projects" type="button" class="cta">Welcome</a>
      </div>
    </div>
  </section>
  <!-- End Hero Section  -->

  <!-- Service Section -->
  <section id="services">
    <div class="services container">
      <div class="service-top">
        <h1 class="section-title">Serv<span>i</span>ces</h1>

      </div>
      <div class="service-bottom">
        <div class="service-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/services.png"/></div>
          <h2>Price Valuation</h2>
          <p> Please Click the Below button To Calculate the Accurate Price of Your Car
            <a href="{{url_for('PredictPriceForm')}}" data-after="About">Click Here</a></p>
<!--          <a href="index1.html" data-after="About">Click Here</a></p>-->
        </div>
        <div class="service-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/services.png"/></div>
          <h2>Vehicle Inspection</h2>
          <p>Everybody hates waiting. But you're going to love the Inspection process 
              because we make sure every car passes on  all 200 check-points in 
              the list before you proceed to evaluate your car.
          </p>
        </div>
        <div class="service-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/services.png"/></div>
          <h2>Call Representative</h2>
          <p>For any Assistance please reach out to us by dialling the line available in the contact section
            of this Website.


            
          </p>
        </div>
        
      </div>
    </div>
  </section>
  <!-- End Service Section -->

  <!-- Projects Section -->
 

  <!-- About Section -->
  <section id="about">
    <div class="about container">
      <div class="col-left">
        <div class="about-img">
          <img src="/static/images/about.jpg" alt="img">
        </div>
      </div>
      <div class="col-right">
        <h1 class="section-title">About <span>Us</span></h1>
        <h2>Looking To Evaluate Your Car?</h2>
        <p style="font-size: 18px;">Our Website is the most trusted way for the prediction of the car value amongst various Competitors.
            We have a precise Database based on the actual depreciation rate of the various categories of cars which 
        helps our customers to get an accurate price of the car. </p>
        
      </div>
    </div>
  </section>
  <!-- End About Section -->

  <!-- Contact Section -->
  <section id="contact">
    <div class="contact container">
      <div>
        <h1 class="section-title">Contact <span>info</span></h1>
      </div>
      <div class="contact-items">
        <div class="contact-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/phone.png" /></div>
          <div class="contact-info">
            <h1>Phone</h1>
            <h2>+91 927 619 4269</h2>
            <h2>+91 040 6325 9822</h2>
          </div>
        </div>
        <div class="contact-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/new-post.png" /></div>
          <div class="contact-info">
            <h1>Email</h1>
            <h2>predictive_analysis@gmail.com</h2>
            <h2>mailUs@gmail.com</h2>
          </div>
        </div>
        <div class="contact-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/map-marker.png" /></div>
          <div class="contact-info">
            <h1>Address</h1>
            <h2>Manikonda Jagir, GachiBowli, Hyderabad Telangana State</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Contact Section -->

  <!-- Footer -->
  <section id="footer">
    <div class="footer container">
      <div class="brand">
        <h1><span>M</span>ak <span>I</span>nfoTech</h1>
      </div>
      <h2>A Complete Car Care Solution</h2>
      <div class="social-icon">
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/facebook-new.png" /></a>
        </div>
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/instagram-new.png" /></a>
        </div>
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/twitter.png" /></a>
        </div>
        
      </div>
      <p>Copyright © 2022. All rights reserved</p>
    </div>
  </section>
  <!-- End Footer -->
  <script src="./app.js"></script>
</body>

</html>